@charset "utf-8";
@import url(common.css);
@import url(header.css);
@import url(footer.css);

/* ---------------------------------------- 서브비주얼 영역 ---------------------------------------- */

#svisual{
	width:100%;
	height:248px;
	background:#d54c5d; /* 화면 축소 확대 시 여백 생기는 부분에 백그라운드 설정 */
}
#svisual .svisual_in{
	width:1920px;
	height:248px;
	margin:0 auto;
	background:url(../img/sub/sub3/svisual3.png) no-repeat;
}

/* ---------------------------------------- sub3-1 영역 ---------------------------------------- */

/* sub3-1 기본 레이아웃 */

#scontainer{
	width:1140px;
	margin:0 auto;
}
.sub_left{ /* lnb 레이아웃 */
	width:237px;
	float:left;
}
.sub_right{
	width:876px; /* 903px - 27px(subleft와의 간격) */
	float:right;
}

/* lnb */

ul.lnb{
	width:233px;
	border-left:2px solid #ddd;
	border-right:2px solid #ddd;
}
ul.lnb>li{
	background:url(../img/sub/arrow_off.gif) no-repeat 200px 23px;
}
ul.lnb>li.lnb_active1{
	background:url(../img/sub/arrow_on.gif) no-repeat 200px 23px;
}
ul.lnb>li>a{   /*주메뉴 */
	text-decoration:none; 
	display:block;
	height:34px;
	color:#414141;
	font-size:15px;
	font-weight:bold;
	padding:16px 0 0 23px;
	border-bottom:2px solid #ddd;
}
ul.lnb>li>a:hover{  /*주메뉴 over*/
	color:#ba2454;
}
ul.lnb>li>a.lnb_active2{
	color:#ba2454;
}

/* 서브탑_제목부분 */

.sub_top{
	margin-top:35px;
	height:35px;
	border-bottom:1px solid #bebebe;
}
.sub_right h3{
	font-size:24px;
	color:#414141;
	float:left;	
}
.sub_right .location{
	float:right;
	background:url(../img/sub/home.png) no-repeat 20px 11px;
	padding:10px 0 0 23px;
}
.sub_right .location span{
	padding:0 5px 0 15px;
	color:#414141;
	font-size:13px;
	letter-spacing:-1px;
	background:url(../img/sub/location_arrow.png) no-repeat 0px 4px;
}
.sub_right .location span:first-child{
	background:none;
}
.sub_right .location span>strong{
	font-weight:bold;
}

/* ----- 콘텐츠 부분 ----- */

.sub_right>.sub_con{
	margin-top:37px; /* 박스안 전체패딩 */
}

/* 이달의 행사 */

.mon_festival>h4{ /* 이달의 행사 제목 */
	color:#414141;
	font-size:18px;
	display:inline;
	border-bottom:2px solid #e71f53;
	padding-bottom:5px; /* 패딩바텀은 글과 선 사이 간격*/
	margin-left:32px;
}
.mon_festival .mon_poster{ /* 이달의 행사 콘텐츠부분 */
	margin-top:42px;
	width:876px;
	height:654px;
	background:url(../img/sub/sub3/mon_festivalbg.png) no-repeat;
	overflow:hidden;
	position:relative; /* 포스터 및 버튼 위치 지정 */
}
.mon_festival .mon_poster li{
	float:left;
	padding-top:42px;
}
.mon_festival .mon_poster li.mon_lpos{
	position:absolute;
	top:77px;
	left:-40px;
}
.mon_festival .mon_poster li.mon_active{
	position:absolute;
	top:0;
	left:267px;
}
.mon_festival .mon_poster li.mon_rpos{
	position:absolute;
	top:77px;
	left:667px;
}

.mon_festival .mon_poster li.mon_lpos a>img{
	width:250px;
}
.mon_festival .mon_poster li.mon_rpos a>img{
	width:250px;
}

.mon_festival .mon_btn .mon_prevbtn{
	position:absolute;
}

/* 탭부분 */

.sub_tab{
	clear:both;
	margin-top:35px; /* 제목 영역과 콘텐츠 영역 사이 간격 */
}

ul.festival_title{
	width:876px;
}
ul.festival_title li{
	float:left;
	width:175.2px;
	height:33px;
}
ul.festival_title li a{
	outline:none;
	background:#f3f4f6;
	border:1px solid #c5c5c5;
	border-left:none;
	display:block;
	font-size:13px;
	color:#414141;
	text-align:center;
	line-height:31px;
}
ul.festival_title li a.s_selected{
	background:#ea3a68;
	text-decoration:none;
	height:33px;
	border:none;
	color:#fff;
	cursor:default;
}

/* 페이지 정보_모든 판넬이 동일 클래스 */

.page_info{
	clear:both;
	padding:32px 0 24px;
	margin:35px 0; /* 탭과 판넬 사이 공백 */
	border-bottom:2px solid #ea3a68;
}
.page_info p{
	float:left;
	color:#414141;
}
.page_info .array{
	float:right;
}
.page_info .array li{
	float:left;
	padding:0 8px;
	color:#414141;
	background:url(../img/sub/bar.png) no-repeat 0 2px;
	cursor:pointer;
}
.page_info .array li:first-child{
	background:none;
}
.page_info .array li:hover{
	text-decoration:underline;
}
.page_info .array li.array_active{
	font-weight:bold;
	color:#ea3a68;
	cursor:default;
	text-decoration:none;
}

/* 판넬 부분_stab30 */

#stab30{
	clear:both;
}

#stab30>.fpost_all>li{
	float:left;
	cursor:pointer;
	padding-left:12px;
	padding-bottom:20px;
}
#stab30>.fpost_all>li.paout{
	padding-left:0;
}

#stab30>.paging_btn{ /* 페이징 버튼 */
	clear:both;
	padding-top:20px;
	padding-left:337px;
}
#stab30>.paging_btn>li{
	float:left;
	width:19px;
	height:18px;
	text-align:center;
	margin:0 5px;
	color:#414141;
	font-weight:bold;
	cursor:pointer;
}
#stab30>.paging_btn>li.now_page{
	background:#cf2551;
	color:#fff;
	cursor:default;
}













