@charset "utf-8";
@import url(reset.css);
@import url(header.css);
@import url(sitemap.css);
@import url(footer.css);

#container{width:100%; position:relative;}

/* 서브비주얼/타이틀 */
.sVisual{
	height:535px;
	background:url(../img/sub/subVisual1.png) no-repeat;
	background-position:center center;
}
.sVisual h3{
	position:absolute;
	top:119px;
	left:50%;
	margin-left:-553px;
}

/*  탭 스타일  */
.information{
	width:1207px;
	margin:-116px auto 0;
	background:#ffffff;
	z-index:999;
}
.tabSet>ul.tabs{
	overflow:hidden;
}
.tabSet>ul>li{
	float:left;
	text-align:center;
	margin-left:1px;
}
.tabSet>ul>li:first-child{
	margin-left:0;
}
.tabSet>ul>li>a{
	float:left;
	font-size:16px;
	color:#ffffff;
	width:150px;
	background:#7d7d7d;
	padding:9px 0 11px;
	display:none;
}
.tabSet>ul>li>a:hover{
	background:#3894cc;
	color:#ffffff;
}
.tabSet>ul>li>a.active{
	background:#3894cc;
	color:#ffffff;
}

/* 탭 판넬 스타일 */
.panel{overflow:hidden;}
.panel>h4{text-align:center; margin:50px 0;}
.pannelBg{
	height:334px;
	overflow:hidden;
	background:url(../img/sub/subBg1.png);
}
.panel>dl{
	width:800px;
	margin:0 auto;
	padding:30px 0 40px;
	border-bottom:1px solid #d7d7d7;
	background:url(../img/sub/promiseIcon.png) no-repeat 0 30px;
}
.panel>dl>dt{
	font-size:30px;
	font-family:'Nanum Myeongjo', '나눔명조', serif;
	color:#6f7683;
	padding:10px 0 10px 70px;
}
.panel>dl>dt>span.colorBlue{
	color:#1671a9;
}
.panel>dl>dd{
	font-size:14px;
	color:#6f7683;
	padding:10px 0 0 70px;
}

/* 서브 퀵메뉴 스타일 */
.subQuick{
	margin-top:50px;
	overflow:hidden;
}
.subQuick>div{
	float:left;
	width:297px;
	height:128px;
	position:relative;
	margin-left:3.6px;
}
.subQuick>div:first-child{
	margin-left:0;
}

.subQuick>div.phoneBtn{background:url(../img/sub/subBtn03.png);}
.subQuick>div.phoneBtn>dl{height:62px; background:url(../img/sub/phoneIcon.png) no-repeat 30px 31px; padding:37px 0 0 100px;}
.subQuick>div.phoneBtn>dl>dt{color:#ffffff; font-size:16px; float:left; padding-right:10px; font-weight:normal;}
.subQuick>div.phoneBtn>dl>dd{color:#ffffff; font-size:16px;}

span.thinweight{font-weight:100;}























